div.container {
  margin-top: 30px;
}

.header {
  text-align: center;
}

.header > img {
  width: 25%;
  height: 25%;
}

div#camera {
  margin-top: 20px;
  text-align: center;
  height: 300px;
}

div#controls {
  text-align: center;
}

div#controls p {
  margin-bottom: 5px;
}

.pressed {
  color: green;
}

